{% extends 'layout.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('cgu/css/style.css')}}" type="text/css">
{% endblock %}

{% block body %}
<section class="contenu text-center">

    <div class="container">
        <h1 class="p-5"><a href="{{path('help')}}">
                <p>LES NOUVEAUTÉS </p>
            </a></h1>
        <div class="row">

            {% for nouveaute in nouveautes %}
            <article class="col-12">
                <h2>{{nouveaute.title}}</h2>
                <p>{{nouveaute.content}}</p>





                <div class="metadata"> Ecrit le {{nouveaute.creatAt | date ('d/m/y')}} à {{ nouveaute.creatAt | date
                    ('h:i')}}</div>
                <span> <a href="{{ path('nouveaute_edit', {'id':nouveaute.id}) }} "> Modifier</a> </span>
                <hr>
            </article>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}