<mjml>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-image width="200" src="{{ asset('src/logo.png')}}"></mj-image>

        <mj-divider border-color="#651FFF"></mj-divider>

        <mj-text font-size="20px" color="#651FFF" font-family="helvetica"> <tr>
        <td>Nom</td>
        <td> {{contact.name}} </td></tr> </mj-text>
        <mj-text font-size="20px" color="#651FFF" font-family="helvetica"> <tr>
        <td>Prénom</td>
        <td> {{contact.prenom}} </td></tr> </mj-text>
        <mj-text font-size="20px" color="#651FFF" font-family="helvetica"> <tr>
        <td>Objet</td>
        <td> {{contact.object}} </td></tr> </mj-text>
        <mj-text font-size="20px" color="#651FFF" font-family="helvetica"> <tr>
        <td>Message</td>
        <td> {{contact.message}} </td></tr> </mj-text>
        <mj-text font-size="20px" color="#651FFF" font-family="helvetica"> <tr>
        <td>Mail</td>
        <td> {{contact.mail}} </td></tr> </mj-text>
        
       
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>