{% extends 'layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('paiement/css/style.css')}}" type="text/css">
{% endblock %}

{% block body %}
<!-- Contenu de la page -->
<div class="contenu">
    <div class="col-12">
        <div>
            <h1 class="text-center pt-2 m-4">Paiement offre</h1>
        </div>
    </div>
    <!-- 1 : Configuration du profil medecin -->
    <div class="container my-5">
        <div class="col-12 m-5"></div>
        <div class="col-10 mx-auto">
            <div class=" mx-auto p-4 profil-img mx-auto justify-content-center align-items-center">
                <div class="justify-content-center align-items-center">
                    <img src="{{ asset('paiement/img/locked.png') }}" alt="locked icon">
                </div>
            </div>
        </div>
        <div>
            <p class="text-center mt-4 p-4">Vous avez choisi l'offre à {{offre.prix}} € par mois, vous pourrez configurer {{offre.contenu}} réponses.</p>
        </div>
        <form action="">
            <div class="justify-content-center">
                <div class="col-lg-10 mx-auto">

                    <div class="row">
                        <div class="col-md-6 p-4">
                            <label class="col-12">Nom :</label>
                            <input class="inClass col-lg-12" type="text" placeholder="Entrer nom ..." autofocus name="nom">
                        </div>
                        <div class="col-lg-12 p-4">
                            <label class="col-12">Numéro de carte :</label>
                            <input type="tel" class="inClass col-12" placeholder="" name="carte-credit">
                        </div>
                        <div class="col-lg-6 p-4">
                            <label class="col-12">Date d'expiration :</label>
                            <input type="month" id="mois-année" class="inClass col-12" name="carte-expiration">
                        </div>
                        <div class="col-lg-6 p-4">
                            <label class="col-12">Cryptogramme CVV:</label>
                            <input type="tel" class="inClass col-12" name="cryptogramme cvv">
                        </div>
                        <div class="col-md-6 justify-content-center d-flex mt-3 text-center">
                            <i class="contenu">Cette page de paiement est factice et ne traite donc aucune données, il est possible de la valider sans remplir les champs. </i>
                        </div>
                        <div class="col-md-6 text-center mt-4 mb-5">
                            <a href="{{path('editInfos')}}" class="btn bg-sub primary-btn col-8">
                                <p class="pt-2">Enregistrer</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>

</div>

{% endblock %}
